<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>Relación de Tipos de Combustibles</h1>
    <div>
        <input type="text" id="txtTipoCombustibleDenominacion" name="txtTipocombustibleDenominacion" value="" placeholder="nombre del nuevo tipo de Combustible" />
        <button id="btnAddTipoCombustible">Crear TipoCombustible</button>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="./js/combustibles.js"></script>
</body>
</html>
