<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link href="./css/main.css" rel="stylesheet" />
</head>
<body>
    <nav id="menu">
        <nav>
            <ul>
                <li><a title="Coches" href="./coches.html">Coches</a></li>
                <li><a title="Marcas" href="./marcas.html">Marcas</a></li>
                <li><a title="Combustibles" href="./combustibles.html">Combustibles</a></li>
            </ul>
        </nav>
    </nav>
    <div id="content"></div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
